/*Contact form*/

* {
	box-sizing: border-box;
	margin: 0;
}


/* No need to assign the same code to all container classes when we can just put it on #select-div instead. */
#select-div {
	font-family: 'Roboto', sans-serif;
	width: 752px;
	margin: 70px auto 0;
	display: block;
	background: #FFF;
	padding: 10px 50px 50px;
}

/* When we put a container class on, we want to hide all of the forms except the one that the user expects to see - which is what the following code does */

.container1 form:not(#attacking) {
	display:none;
}

.container2 form:not(#attacking) {
	display:none;
}

.container3 form:not(#attacking) {
	display:none;
}


.group {
	position: relative;
	margin-bottom: 45px;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: none;
	border-bottom: 1px solid #757575;
}

input:focus {
	outline: none;
}

label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
	top: -20px;
 	font-size: 14px;
	color: #303F9F;
}

.bar {
  	position: relative;
  	display: block;
  	width: 300px;
}
.bar:before, .bar:after {
  	content: '';
  	height: 2px;
  	width: 0;
  	bottom: 1px;
  	position: absolute;
  	background: #303F9F;
  	transition: 0.2s ease all;
  	-moz-transition: 0.2s ease all;
  	-webkit-transition: 0.2s ease all;
}
.bar:before {
  	left: 50%;
}
.bar:after {
  	right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  	width: 50%;
}

.highlight {
  	position: absolute;
  	height: 60%;
  	width: 100px;
  	top: 25%;
  	left: 0;
  	pointer-events: none;
  	opacity: 0.5;
}

input:focus ~ .highlight {
  	-webkit-animation: inputHighlighter 0.3s ease;
  	-moz-animation: inputHighlighter 0.3s ease;
  	animation: inputHighlighter 0.3s ease;
}


/* CSS for the radio buttons to determin what form the suer will be using */

.battle_type {
	font-family: 'Roboto', sans-serif;
	width: 752px;
	margin: 70px auto 0;
	display: block;
	background: #FFF;
	padding: 10px 50px 50px;
}

#select-div form {
    display: none;
}

#select-div.container1 #attacking {
    display: block;
}

#select-div.container2 #defending {
    display: block;
}

#select-div.container3 #subToSub {
	display: block;
}



/* CSS for the form layout */


.navbar {
  	overflow: hidden;
  	background-color: white;
  	position: fixed;
  	top: 0;
  	width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #303F9F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.navbar a:hover {
	background-color: #303F9F;
	color: white;
}


.player-1-form {
	float: left;
	padding-right: 25px;
	border-right: 1px solid grey;
}

.player-2-form {
	float: right;
	padding-left: 25px;
	border-left: 1px solid grey;
}

input[type="submit"] {
	width: 652px;
	transition: 0.5s;
}

input[type="submit"]:hover {

}

form h1 {
	margin-bottom: 30px;
}