body {
	margin: 0;
	padding: 0;
	background-color: rgb(245, 245, 245);
}

.gridTest {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.topCard {
	margin: 0;
	padding: 22px 10px;
	background-color: var(--mdc-theme-primary);
	color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.extraPadding {
	padding-bottom: 20px;
	text-align: center;
}

.buttonFix {
	margin: 0 auto 20px auto;
	width: 160px;
}

.formTextField {
	width: 80%;
}

.resultsNudge {
	margin-top: 40px;
}